@import 'nule.scss';

@mixin flex($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

.container {
    margin: 0 auto;
    width: 1210px;
    padding: 0 15px;
}

/* header */
.header {
    position: absolute;
    width: 100%;
    color: white;
    z-index: 999;
}

.header__inner {
    @include flex(flex, center, center);
    padding: 20px 0;
    border-bottom: 1px solid #FFFFFF80;
    gap: 0 220px;

}

.header__inner-nav {
    @include flex(flex, space-around, center);
    flex: 1;

    .header-nav {
        

        &:hover {
            color: black;
            transition: 0.5s;
        }
    }
}

.header-nav-cart {
    @include flex(flex, center, center);
    position: relative;
    cursor: pointer;
}
.img-car {
   margin-left: 10px;
}
.cart-counter {
    background: red;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -9px;
    bottom: -10px;
}
.modal-cart {
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 40px;
    width: 100%;
    height: 100%;
    background-color: rgb(22 22 22 / 40%);
    padding: 30px 0;
    color: black;
    z-index: 10;

}

.modal__cart-inner {
    width: 580px;
    height: 902px;
    background-color: white;
    display: flex;
    position: relative;
    padding: 40px;
    flex-direction: column;
}

.modal__cart-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}
.modal__cart-title {
    font-size: 20px;
    line-height: 20px;
}
.modal__cart-box {
    width: 500px;
    height: 433px;
    border: 1px solid #D9D9D9;
    margin: 40px 0;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
       background: #4D4D4D1A;
    }
    &::-webkit-scrollbar-thumb {
        background: #4D4D4D33;
        border-radius: 2px;
    }
}
.modal__cart-box__inner {
    display: flex;
    padding: 30px;
    flex-direction: column;
}
.modal__cart-box__inner-item {
    display: flex;
    margin: 14px 0;
}
.modal__cart-box__inner-counter {
    font-size: 16px;
    line-height: 16px;
    color: #B2B5BB;
    margin: 0 0 20px 0;
    span {
        color: black;
    }

}
.modal__cart-box__inner-counter-price {
    font-size: 16px;
    line-height: 16px;
    color: #B2B5BB;
    margin: 0 0 20px 0;
    span {
        color: black;
    }
}
.modal__cart-box__inner-btn {
    font-size: 14px;
    line-height: 14px;
    color: #B2B5BB;
    align-self: center;
    &:hover {
        color: rgb(223 133 133);
    }
}


/* modal__cart form */
.modal__cart-form {
    display: flex;
    flex-direction: column;
    input {
        width: 500px;
        height: 60px;
        margin: 10px 0;
        background: #F6F6F6;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .modal-cart-btn {
        align-self: start;
        background: red;
        padding: 22px 47px;
        margin: 30px 0 0 0;
        color: white;
        font-size: 16px;
        line-height: 16px;
        border-radius: 5px;
        &:hover {
            color: rgb(223 133 133);
        }
    }
}

/* mini cart */
.modal-mini-cart {
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 40px;
    width: 100%;
    height: 100%;
    background-color: rgb(22 22 22 / 40%);
    padding: 30px 0;
    color: black;
    z-index: 10;

}

.modal__mini-cart-inner {
    width: 480px;
    height: 414px;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    position: absolute;
    top: 6%;
    right: 19%;
    padding: 20px;
    
}

.mini-cart-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
       background: #4D4D4D1A;
    }
    &::-webkit-scrollbar-thumb {
        background: #4D4D4D33;
        border-radius: 2px;
    }
}
.mini-cart-bottom {
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.mini-cart-counter {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}
.mini-cart-counter-title {
    font-size: 14px;
    line-height: 20px;
}
.modal-cart-total-price {
    font-size: 20px;
    line-height: 20px;
}
.mini-cart-bottom-btn {
    background: red;
    padding: 17px 47px;
    color: white;
    font-size: 16px;
    line-height: 16px;
    border-radius: 5px;
    align-self: end;
    &:hover {
        color: rgb(223 133 133);
    }
}
.mini-cart-box__card {
    display: flex;
    align-items: center;
    margin: 0 0 15px 0;

}
.mini-cart-box__card-desc {
    align-self: start;
    flex: 1;
    margin: 0 0 0 10px;
}
.mini-cart-box__card-desc__title {
    font-size: 14px;
    line-height: 20px;
}
.mini-cart-box__card-price {
    font-size: 20px;
    line-height: 20px;
}
.mini-cart-box__card-trash {
    width: 20px;
    height: 20px;
    align-self: end;
    cursor: pointer;
}
.hidden {
    display: none;
}


/* intro */
.intro {
    background: #484283;
    color: white;
}

.intro__inner {
    height: 528px;
    @include flex(flex, center, start);
    flex-direction: column;
    z-index: 1;
    position: relative;
}

.intro__inner-back {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include flex(flex, center, center);
    font-weight: 700;
    z-index: -1;
    opacity: 12%;
}

.intro__inner-title {
    font-size: 36px;
    width: 580px;
    align-self: flex-start;
}

.intro__inner-subtitle {
    font-size: 16px;
    width: 480px;
    padding: 20px 0 40px 0;
}

.intro__inner-btn {
    padding: 22px 47px;
    background-color: red;
    border: 0 solid;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
        color: rgb(223 133 133);
    }
}


/* catalog */


.catalog {
    margin: 60px 0 0 0;
}

.catalog-title {
    font-size: 30px;
}

.catalog__inner-setting {
    width: 280px;
    background-color: #FFF4EE;
    padding: 20px;
    display: grid;
    align-self: flex-start;
}

.catalog__inner-option {
    display: flex;
    gap: 0 20px;
}

.catalog__inner-option__title {
    font-size: 24px;
    line-height: 24px;
    width: 200px;
    text-align: start;
    font-weight: 400;
}

.catalog__inner-option__desc {
    padding: 20px 0 10px 0;
}

.catalog__inner-option__input {
    display: flex;
    border: 1px solid #B2B5BB;
    border-radius: 5px;
    border-bottom: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.field {
    width: 120px;
    @include flex(flex, center, center);
    margin: 10px 0 0 0;

    input {
        display: flex;
        background: none;
        text-align: center;
    }


    .input-min,
    .input-max {
        border: none;
        outline: none;
        width: 60px;
    }
}

.field-left {
    border-right: 1px solid #B2B5BB;
}

.slider {
    height: 2px;
    background: #444B58;
    margin: 10px 0 0 0;
    position: relative;
    width: 240px;

    .progress {
        height: 2px;
        background: #17A2B8;
        position: absolute;
        left: 1%;
        right: 1%;
    }
}

.range-input {
    position: relative;

    input {
        position: absolute;
        top: -4px;
        right: -2px;
        height: 2px;
        width: 100%;
        background: none;
        appearance: none;
        pointer-events: none;
    }
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 6px;
    appearance: none;
    background: #444B58;
    border-radius: 4px;
    pointer-events: auto;
    cursor: pointer;
}

.size-title {
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.catalog__inner-option__size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.size-block {
    padding: 20px 31px;
    border: 1px solid #DBBBA9;
    margin-left: -1px;
    margin-bottom: -1px;
    &:hover {
        background-color: rgb(221, 189, 189);
        cursor: pointer;
    }
}

.catalog__inner-option__btn {
    background: #444B58;
    padding: 22px 77px;
    color: white;
    margin-top: 20px;
    &:hover {
        color: rgb(223 133 133);
    }

}

.catalog__inner-option__btn-clear {
    font-size: 16px;
    color: #444B58;
    margin: 20px 0 0 0;
    justify-self: center;
    &:hover {
        color: rgb(223 133 133);
    }
}


.modal-ikons {
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    font-size: 40px;
    width: 100%;
    height: 100%;
    background-color: rgb(22 22 22 / 40%);
    padding: 30px 0;
    color: black;
    z-index: 10;

}

.modal__inkons-inner {
    width: 1000px;
    height: 740px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 40px;
}

.modal__ikons-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
}

.modal-top {
    align-self: flex-start;
    display: flex;
    flex: 1;
    gap: 0 20px;
}

.modal-img {
    width: 400px;
    height: 400px;
}
.modal__cart-counter {
    display: inline;
    color: black;
}

.modal-text-info {
    display: flex;
    align-items: start;
    gap: 0 47px;
 
}
.info-text {
    font-size: 16px;
    line-height: 16px;
    color: gray;
}

.modal-text__inner-title {
    width: 420px;
    font-size: 24px;
    line-height: 33px;
    margin: 40px 0 0 0;
}


.modal-text__inner-choose-title {
    font-size: 16px;
    line-height: 16px;
    margin: 20px 0;
}
.modal-text__inner-choose-btn {
    background: transparent;
    border: 1px solid #B2B5BB;
    padding: 10px 26px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    &:hover {
        color: rgb(223 133 133);
    }
}
.modal-text__inner-price {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin: 40px 0 38px 0;
}
.modal-text__inner-btn {
    width: 430px;
    height: 60px;
    background-color: red;
    color: white;
    border-radius: 5px;
    margin: 38px 0 23px 0;
    &:hover {
        color: rgb(223 133 133);
    }
}
.modal-inner {
    display: flex;
    flex-direction: column;
}
.modal-text__inner-bonuses {
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin: 9px 0;
}
.modal-text__inner-bonuses-text {
    font-size: 14px;
    line-height: 14px;
    color: gray;
}
.modal-bot {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.modal-bot__inner {
    display: flex;
    flex-direction: column;
}
.modal-bot__inner-title {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 20px 0;
}
.modal-bot__inner-subtitle {
    width: 430px;
    font-size: 16px;
    line-height: 22px;
}
.modal-bot__inner-text {
    font-size: 16px;
    line-height: 16px;
    margin: 5px 0;
}

/* inner shop */
.catalog__inner-shop {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    gap: 0 20px;

}

.cart-title {
    font-size: 16px;
}

.cart-price {
    display: block;
    font-size: 20px;
    margin: 10px 0;
}
.shop-cart:hover {
    color: #17A2B8;
    cursor: pointer;
}




/* Info */

.info {
    background: #484283;
    color: white;
    margin: 60px 0 0 0;
}

.info__inner {
    height: 580px;
    display: flex;
}

.info__inner-items {
    @include flex(flex, center, start);
    flex-direction: column;

}

.info__inner-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.info__inner-subtitle {
    font-size: 16px;
    line-height: 22px;
    margin: 20px 0;
}

.info__inner-name {
    display: flex;
}

.info__inner-name__inner {
    align-self: center;
    margin-right: 20px;
    margin: 0 0 0 300px;
}

.info__inner-name__inner-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 0 20px;
}


/* select */
.select {
    margin: 60px 0;
}

.select__inner {
    background: #FFF4EE;
    height: 658px;
    padding: 40px 100px;

}

.select__inner-title {
    color: #444B58;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;

}

.select__inner-subtitle {
    font-size: 16px;
    line-height: 16px;
    color: #808080;
    margin: 20px 0 10px 0;

}

.select__inner-box {
    display: grid;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.select__inner-box__title {
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0 0 0;
}

.select__inner-box__cart {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    gap: 20px 70px;
    justify-self: center;
    margin: 20px 0 40px 0;

}
.select-cart-form {
    display: flex; 
    label, input {
        cursor: pointer;
    }  
}
.select-input {
    border: none;
}

/* team */
.team {
    background: #484283;
    color: white;
}

.team__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    padding: 60px 0 40px 0;
}

.team__inner {
    height: 1190px;
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 480px 480px;
    gap: 40px 20px;
}

.team__inner-cart__name {
    margin: 20px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.team__inner-cart__subname {
    font-size: 16px;
    line-height: 16px;
}


/* questions */
.questions {
    padding: 60px 0;
    overflow: hidden;
}

.questions__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #444B58;
    align-self: start;
    margin: 0 0 40px 0;
}

.questions__inner {
    height: 287px;
    @include flex(flex, center, center);
    flex-direction: column;
}

.questions__inner__side {
    width: 880px;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    margin-bottom: -1px;
}

.questions__inner__side-title {
    @include flex(flex, space-between, center);
    font-size: 20px;
    line-height: 20px;
    margin: 30px 0 30px 0;

    .side-img {
        cursor: pointer;
    }
}

.qustions__inner__side-subtitle {
    font-size: 16px;
    line-height: 22px;
    color: #24242480;
    width: 800px;
    margin: 25px 0 18px 0;
    transform: translateX(-1000%);
    transition: 0.5s;

    span {
        display: none;
    }
}

.qustions__inner__side-subtitle--active {
    transform: translateX(0);
    display: flex;
    transition: 0.5s;

    span {
        display: flex;
    }
}




/* contact */
.contact {
    margin-top: 60px;
    background-color: #F3F6F6;
}

.contact__inner {
    display: flex;
    height: 618px;
    justify-content: space-between;
}

.contact__inner-info {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.contact-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 60px;
}

.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    width: 426px;
    text-align: start
}

.contact-tooltip {
    @include flex(flex, start, center);

    img {
        margin-left: 10px;
    }
}

.contact-info {
    font-size: 14px;
    line-height: 20px;
    color: #B2B5BB;
}

.contact-phone {
    font-size: 30px;
    line-height: 42px;
    color: #444B58;
    margin-top: 40px;

}

.contact-adres {
    font-size: 18px;
    line-height: 25px;
    color: #444B58;
    margin: 9px 0 40px 0;
}

.contact__inner-info__img {
    @include flex(flex, start, center);



    gap: 0 20px;
}

.contact__inner-map {
    @include flex(flex, center, center);
}

#map {
    width: 680px;
    height: 490px;
}


/* inst */
.inst {
    color: white;
    margin-top: 71px;
}

.inst__inner {
    display: flex;
    gap: 0 60px;
}

.inst__inner-qusteion {
    display: flex;
    justify-content: center;

    flex-direction: column;
    background-color: #484283;
    height: 402px;
    width: 380px;

    .inst-form {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin: 20px;

        input {
            height: 60px;
            border-radius: 5px;
            width: 340px;
            margin: 10px 0 0 0;
            outline: none;
        }

        .form-btn {
            height: 60px;
            border-radius: 5px;
            width: 338px;
            background-color: red;
            margin: 10px 0 0 0;
            &:hover {
                color: rgb(223 133 133);
            }
        }
    }
}

.inst__inner-qusteion-title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.inst__inner-qusteion-subtitle {
    width: 260px;
    text-align: center;
    font-size: 16px;
    align-self: center;
    margin: 20px 0 0 0;
}

.inst__inner-inst {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inst__inner-img {
    align-self: center;
}

.inst__inner-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 160px 160px;
    gap: 15px;

    img {
        width: 100%;
        height: 100%;
    }

    .photo3 {
        grid-column: 2/4;
        grid-row: 2 span;

    }

    .photo2 {
        grid-row: 2;

    }
}




/* footer */

.footer {
    color: white;
    background: #444B58;
    margin-top: 80px;
}

.footer__inner {
    padding: 20px 0;
}

.footer__inner-nav {
    display: flex;
    justify-content: space-around;

    .footer-nav {
        margin: 0 0 0 40px;

        &:hover {
            color: black;
            transition: 0.5s;
        }
    }
}